<!doctype html>
<html lang="pl">
<head>
<meta charset="utf-8"/>

<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<!---->
<title>Bot</title>

</head>
<body>
<button id="open-chat" onclick="openChat()">Czat</button>
<div class="window" id="chatForm">
<div class="chat-container">
<button id="close-chat" onclick="closeChat()">Czat</button>
<div id="box">
<div id="chatLog">


<button id='rate'>
	Wystaw opinię!
</button>
</div>

</div>
<div id="userInput" >
	<input type="text" id="userMes" name="msg"/>
	<input type="submit" value=">" id="buttonInput"/>
</div>
</div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='chat.js') }}">
</script>

<!--<script type='text/javascript' src= 'static/chat.js' ></script>-->
</body>
</html>